/* *{
    margin: 0;
    padding: 0;
} */

/* #ajax_info {
    display: inline;
} */

.solButton {
    margin-bottom: 10px;
}
 
#solution {
    display: none;
} 

.solution {
    display: none;
    margin-bottom: 5px;
}